@media only screen and (max-width: 720px) {
  .header {
    display: none;
  }
  .overview {
    width: 100%;
    height: 120vh;
  }
  .overview > .overview-text > h1 {
    font-size: 30px;
  }
  .overview > .overview-text > p {
    font-size: 10px;
  }
  .services > .lfpart > .btn-1,
  .team > .team1 > .btn-1,
  .news > .contact > .n-form > form > .btn-1,
  .overview > .overview-text > div > .btn-1 {
    width: 75px;
    height: 25px;
    font-weight: lighter;
  }
  .overview > .overview-text > div > .btn-2 {
    width: 100px;
    height: 25px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }
  .info {
    width: 100%;
    height: 1050px;
    padding: 20px;
  }
  .info > p {
    font-size: 15px;
    padding: 0px 0px 20px 10px;
  }
  .info > .info-in {
    display: block;
    gap: 50px;
    justify-content: space-around;
  }
  .info > .info-in > .info-div {
    overflow: hidden;
    width: 100%;
    height: 300px;
  }
  .info > .info-in > .info-div > img {
    height: 120px;
  }
  .info > .info-in > .info-div > p {
    color: gold;
    padding-top: 10px;
  }
  .info > .info-in > .info-div > .description {
    padding-top: 10px;
    color: gray;
  }
  .info > .info-in > .info-div > hr {
    color: gray;
    margin: -10px 0 5px 0px;
  }
  .info > .info-in > .info-div > .side-div {
    height: 33%;
    display: flex;
  }
  .info > .info-in > .info-div > .side-div > div > img {
    width: 50px;
    height: 50px;
  }
  .info > .info-in > .info-div > .side-div > .content {
    margin-left: 10px;
  }
  .services {
    width: 100%;
    height: 750px;
    background-color: blue;
    display: block;
  }
  .services > .lfpart {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .services > .lfpart > p {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .services > .rgpart {
    width: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
  }
  .services > .rgpart > .rgpart1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
  }
  .img-sec > .img-txt > h4,
  .services > .rgpart > .rgpart1 > p {
    font-size: 25px;
    font-weight: bold;
  }
  .services > .rgpart > .rgpart1 > img {
    width: 100px;
    height: 100px;
  }
  .img-sec {
    display: flex;
    flex-direction: column;
  }
  .img-sec > .img-img {
    width: 100%;
    padding: 10% 5% 10% 5%;
  }
  .img-sec > .img-img > img {
    width: 400px;
  }
  .img-sec > .img-txt {
    width: 100%;
    padding: 10% 5% 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .records {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news {
    padding: 8% 5% 8% 5%;
    width: 100%;
    height: 280vh;
  }
  .news > .news1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .news > .news1 > .news1-1 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
    position: relative;
  }
  .news > .news1 > .news1-1 > .box {
    width: 30px;
    height: 30px;
    background-color: gold;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .news > .subs-sec {
    margin-top: 10%;
    border: 2px solid black;
    padding: 8%;
  }
  .news > .subs-sec > input {
    width: 200px;
    height: 30px;
    padding: 20px;
    margin-top: 5%;
  }
  .news > .subs-sec > button {
    width: 80px;
    margin-top: 20px;
    height: 30px;
    color: white;
    background-color: blue;
    border: none;
  }
  .news > .contact {
    display: flex;
    flex-direction: column;
  }
  .news > .contact > .n-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .news > .contact > .n-data > h1 {
    font-size: 40px;
  }
  .news > .contact > .n-data > p {
    font-size: 20px;
  }
  .news > .contact > .n-data > p > span {
    font-weight: bold;
  }
  .news > .contact > .n-form {
    width: 100%;
    margin: 5%;
  }
  .news > .contact > .n-form > form {
    background-color: whitesmoke;
    padding: 5%;
  }
  .news > .contact > .n-form > form > .name {
    width: 250px;
    height: 60px;
    margin: 2px;
    border: none;
  }
  .news > .contact > .n-form > form > .email {
    width: 300px;
    height: 60px;
    margin: 2px;
    border: none;
  }
  .news > .contact > .n-form > form > textarea {
    width: 300px;
    height: 100px;
    margin: 2px;
    border: none;
  }
  .ques-sec {
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0% 5% 0% 5%;
  }
  .ques-sec > h1 {
    color: white;
    font-size: 20px;
  }
  .ques-sec > a {
    color: black;
    font-weight: bold;
  }
  .team {
    padding: 8% 5% 8% 5%;
    width: 100%;
    height: 350vh;
    background-color: black;
  }
  .team > .team1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
  }
  .team > .team2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0px 40px 0px;
  }
  .team > .team2-2,
  .team > .team2 > .team2-2 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
  .team > .team2 > .team2-2 > h4,
  .team > .team2 > .team2-2 > p {
    color: white;
  }
  .team > .team2 > .team2-2 > img {
    width: 100%;
    height: 300px;
  }
  footer {
    color: white;
    display: block;
  }
}
@media only screen and (max-width: 425px) {
  .img-sec > .img-img > img {
    width: 350px;
  }
  .news > .subs-sec {
    margin-top: 10%;
    border: 2px solid black;
    padding: 4%;
  }
}
@media only screen and (max-width: 320px) {
  .img-sec > .img-img > img {
    width: 300px;
  }
  .overview > .overview-text > div > .btn-2 {
    width: 80px;
    height: 25px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin: 10px 10px 10px -2px;
  }
  .news > .subs-sec {
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid black;
    padding: 2%;
    background-color: aqua;
  }
  .ques-sec {
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 50px;
    padding: 0% 5% 0% 5%;
  }
  .news > .contact > .n-form > form > .email {
    width: 200px;
    height: 60px;
    margin: 2px;
    border: none;
  }
  .news > .contact > .n-form > form > textarea {
    width: 100px;
    height: 100px;
    margin: 2px;
    border: none;
  }
}

@media only screen and (max-width: 1000px) {
  .check {
    display: block;
    font-size: 20px;
  }
  .xmark {
    display: none;
    position: absolute;
    font-size: 20px;
  }
  .nav {
    display: block;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 50px;
    background-color: black;
    left: -100vh;
  }
  header ul li {
    margin: 20px 10px;
    width: 100%;
  }
  #check:checked ~ .nav {
    left: 0;
    transition-duration: 1s;
  }
  #check:checked ~ .check {
    display: none;
  }
  #check:checked ~ .Xmark {
    display: block;
    position: absolute;
    right: 50px;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.heade {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  height: 50px;
}

input {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .heade {
    display: none;
  }
}
